<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs.mapper.noticeMapper">
	
	<insert id="writeNotice">
		insert into notice(notice_title, notice_content)
		values(#{noticeTitle}, #{noticeContent})
	</insert>
	
	<select id="getNoticeList" resultType="NoticeVO">
		select * from notice order by notice_no desc;
	</select>
	
	<delete id="deleteNotice">
		delete from notice where notice_no= #{noticeNo}
	</delete>
	
	<select id= "readNotice" resultType="NoticeVO">
		select * from notice where notice_no=#{noticeNo}
	</select>
	
</mapper>